<section id="howltsMade" class="products">
  <div>
    <h2 class="products-heading">Products</h2>
    <p>Oil examples</p>
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img-comparison-slider class="gallery-image">
              <img slot="first" src="../src/img/1.jpg" />
              <img slot="second" src="../src/img/2.jpg" />
            </img-comparison-slider>
          </li>
          <li class="splide__slide">
            <img-comparison-slider class="gallery-image">
              <img slot="first" src="../src/img/1.jpg" />
              <img slot="second" src="../src/img/2.jpg" />
            </img-comparison-slider>
          </li>
          <li class="splide__slide">
            <img-comparison-slider class="gallery-image">
              <img slot="first" src="../src/img/1.jpg" />
              <img slot="second" src="../src/img/2.jpg" />
            </img-comparison-slider>
          </li>
          <li class="splide__slide">
            <img-comparison-slider class="gallery-image">
              <img slot="first" src="../src/img/1.jpg" />
              <img slot="second" src="../src/img/2.jpg" />
            </img-comparison-slider>
          </li>
          <li class="splide__slide">
            <img-comparison-slider class="gallery-image">
              <img slot="first" src="../src/img/1.jpg" />
              <img slot="second" src="../src/img/2.jpg" />
            </img-comparison-slider>
          </li>
        </ul>
      </div>
    </section>

    <!-- <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'> -->
    <!-- <ul class="gallery-list">
      <li class="gallery-item">
        <img-comparison-slider class="gallery-image">
          <img slot="first" src="../src/img/1.jpg" />
          <img slot="second" src="../src/img/2.jpg" />
        </img-comparison-slider>
      </li>
      <li class="gallery-item">
        <img-comparison-slider class="gallery-image">
          <img slot="first" src="../src/img/1.jpg" />
          <img slot="second" src="../src/img/2.jpg" />
        </img-comparison-slider>
      </li>
      <li class="gallery-item">
        <img-comparison-slider class="gallery-image">
          <img slot="first" src="../src/img/1.jpg" />
          <img slot="second" src="../src/img/2.jpg" />
        </img-comparison-slider>
      </li>
      <li class="gallery-item">
        <img-comparison-slider class="gallery-image">
          <img slot="first" src="../src/img/1.jpg" />
          <img slot="second" src="../src/img/2.jpg" />
        </img-comparison-slider>
      </li>
    </ul> -->
    <!-- </div> -->
  </div>
</section>
